:root{
    --primary :  #F0F0F0;
    --primary1 : rgb(92, 143, 187);
    --bg :#D8D8D8;
    --text : rgb(248, 200, 112);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    background-color: var(--primary1);
    font-family: 'Poppins', sans-serif;
    color:#F0F0F0;
    
    
}
html{
    scroll-behavior: smooth;
}

/*NAVBAR*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--primary1);
    border-bottom: 1px solid rgb(94, 93, 93);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 800;
    color :#F0F0F0;
    font-style: italic;
}
.navbar .navbar-logo span{
    color :var(--text);
    font-style: italic;
}
.navbar .navbar-nav a{
    color :var(--bg);
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
    

}
.navbar .navbar-nav a::after{
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(68, 68, 68);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}
.navbar .navbar-extra{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar .navbar-extra a{
    color : var(--bg);
    margin: 0 0.6rem
    
}
#hamburger-menu{
    display: none;
}
/*HERO SECTION*/
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/gambar-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary1)1%, rgba(255, 255, 255, 0)50%)
}
.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}
.hero .content h1{
    font-size: 4rem;
    color: var(--text);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}
.hero .content h1 span{
    color:#F0F0F0
}
.hero .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    color: #F0F0F0;

}
.hero .content .btn{
    margin-top: 1rem;
    display:inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color:#F0F0F0;
    background-color: var(--primary1);
    border-radius: 2rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);;
}
.hero .content .btn:hover{
    background-color: #F0F0F0;
    color: #333232;
}

/*--ABOUT ----*/
.about, .proyek, .contact{
    padding: 10rem 7% 1.4rem;
}
.about h2,
.proyek h2,
.blog h2,
.contact h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.about h2 span,
.proyek h2 span,
.blog h2 span,
.contact h2 span{
    color: var(--text);
}
.about .row{
    display: flex;
}
.about .row .about-img{
    flex: 1 1 45rem;
}
.about .row .about-img img{
    width:100%;
    border-radius: 0.3rem;
}
.about .row .content{
    flex: 1 1 35rem;
    padding: 0 0.8rem;
}
.about .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}
.about .row .content p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
    color: #F0F0F0;
}

/*--PROYEK--*/
.proyek h2{
    margin-bottom: 1rem;
}
.proyek p, .contact p{
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 300;
    line-height: 1.6;
    color: #F0F0F0;
}
.proyek .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    gap:2rem;
    
}
.proyek .row .proyek-card{
    text-align: center;
}
.proyek .row .proyek-card img{
    border-radius: 0.4rem;
    width: 300px;
}
.proyek .row .proyek-card .proyek-card-title{
    margin: 1.2rem auto 0.5rem;
}


.blog{
    padding: 6.5rem 7% 1.4rem;
    width: 100%;
    height: max-content;
    background-color: var(--bg);

}
.blog .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.blog h2, p{
    color: rgb(17, 2, 2);
}
.blog h4{
    font-size: 1.5rem;
    padding:  0.7rem 4%;
    color: var(--primary1) ;
}

.blog .card-blog{
    margin-top: 1.7rem;
    width: 35rem;
    height: max-content;
    background-color: var(--primary);
    overflow: hidden;
    border-radius: 1.5rem 1.5rem 0 0;
}
.blog .card-blog p{
    display: inline-block;
    margin: 0.7rem 4%;
    
}
.blog .card-blog .button{
    width: 100%;
    padding: 0.8rem;
    background-color: var(--primary1);
    font-size: 1.2rem;
    overflow: hidden;
}

/*konntak*/
.contact .row{
    display: flex;
    margin-top: 2rem;
    background-color: #D8D8D8;
    border-radius: 0.4rem;
    overflow: hidden;
}
.contact .row .map{
    flex:  1 1 45rem;
    width: 100%;
    object-fit: cover;

}
.contact .row form{
    flex:  1 1 45rem;
    padding: 5rem 2rem ;
    text-align: center;
}
.contact .row form .input-group{
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #333232;
    padding-left: 2rem;
}
.contact .row form .input-group input{
    border-radius: 20px;
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color:rgb(61, 61, 61);
}
.contact .row form .btn-primary{
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    background-color: var(--primary1);
    color: #F0F0F0;
    border-radius: 0.3rem;
}

/*foooters*/
footer{
    background-color: #D8D8D8;
    text-align: center;
    padding: 1rem 0 3rem ;
    margin-top: 3rem;
}
footer .socials{
    padding: 1rem 0;
}
footer .socials a {
    color: #333232;
    margin: 1rem;
}
footer .socials a:hover,
footer .links a:hover{
    color:var(--primary1);
}
footer .links{
    margin-bottom: 1.4rem;
}
footer .links a{
    color:#333232;
    padding: 0.7rem 1rem;
}
footer .credit{
    font-size: 0.9rem;
}
footer .credit a{
    color: #333232;
    font-weight: bold;
}
.row .proyek-card .detail{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary);
    font-size: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
}
.row .proyek-card .detail-1{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary);
    font-size: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
}
.row .proyek-card .detail-2{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary);
    font-size: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
}
.row .proyek-card .detail-3{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary);
    font-size: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
}
.row .proyek-card .detail-4, .detail-5{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary);
    font-size: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal-container{
    width: 70%;
    height: fit-content;
    position: relative;
    background-color: #fefefe;
    color:var(--primary1);
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    animation: modal 0.5s;
}
/*animation*/
@keyframes modal {
    from{
        top:-300px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
    
}
.modal-container .close-icon{
    position: absolute;
    right: 1rem;

    
}
.modal-container .close-icon1{
    position: absolute;
    right: 1rem;

    
}
.modal-container .close-icon2{
    position: absolute;
    right: 1rem;

    
}
.modal-container .close-icon3{
    position: absolute;
    right: 1rem;

    
}
.modal-container .close-icon4,.close-icon5{
    position: absolute;
    right: 1rem;

    
}
.modal-content{
    display: flex;
    flex-wrap: nowrap;
}
.modal-content img{
    height: 15rem;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
}
.modal-content p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;

}
.info{
    margin-top: 1.5rem;
    font-size: 1.7rem;
    color: rgb(5, 255, 30);
}

/*MEDIA 
QUERIS */
/*laptop */
@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
}
/*tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
    }
    

    .navbar .navbar-nav{
        position: absolute;
        top:100%;
        right: -100%;
        background-color: var(--bg);
        height: 100vh;
        width: 30rem;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active{
        right: 0;
    }
    .navbar .navbar-nav a{
        color :rgb(61, 61, 61);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.3);
    }
    .about .row{
        flex-wrap: wrap;
    }
    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .content{
        padding: 0;
    }
    .about .row .content h3{
        margin-top: 1rem;
        font-size: 2rem;
    }
    .about .row .content p{
        font-size: 1.6rem;
    }
    .proyek p{
        font-size: 1.5rem;
    }
    .contact .row{
        flex-wrap: wrap;
    }
    .contact .row .map{
        height: 30rem;
    }
    .contact .row form{
        padding-top: 0;
    }
    .modal-content{
        flex-wrap: wrap;
    }
}

/*mobile phone */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}
